@page "/about"

<h2>About @Program.applicationName</h2>

<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-command mr-2" aria-hidden="true"></span>
    <span class="text-nowrap">
        Simple .NET Core web api & front-end for managing Homie Nodes
    </span>
</div>



@code {

}
