@page "/editsettings"
<h3>Edit Settings</h3>

<EditForm Model=@configValues OnSubmit=@FormSubmitted class="form-horizontal">
    <div class="row">
        <div class="col-md-6">
            <fieldset class="form-fieldset">
                <legend class="form-legend">MQTT Host Settings</legend>
                <div>
                    <div class="form-group">
                        <label for="mqttProtocol">Protocol:</label>
                        <InputText @bind-Value=configValues.mqtt.protocol id="mqttProtocol" class="form-control" aria-describedby="protocolHelp" placeholder="MQTT Protocol" />
                        <small id="protocolHelp" class="form-text text-muted">MQTT Protocol to use.  <em>mqtt://</em> by default</small>
                    </div>

                    <div class="form-group">
                        <label for="mqttHost">Host:</label>
                        <InputText @bind-Value=configValues.mqtt.host id="mqttHost" class="form-control" aria-describedby="hostHelp" placeholder="Enter MQTT Host Name or IP Address" />
                        <small id="hostHelp" class="form-text text-muted">Host name or IP Address for your MQTT server</small>
                    </div>

                    <div class="form-group">
                        <label for="mqttPort">Port:</label>
                        <InputNumber @bind-Value=configValues.mqtt.port id="mqttPort" class="form-control" aria-describedby="portHelp" placeholder="Enter MQTT Port Number" />
                        <small id="portHelp" class="form-text text-muted">Port number for your MQTT server, 1883 is the default</small>
                    </div>


                    <div class="form-group">
                        <label for="mqttBaseTopic">Base Topic:</label>
                        <InputText @bind-Value=configValues.mqtt.base_topic id="mqttBaseTopic" class="form-control" aria-describedby="topicHelp" placeholder="Default Topic" />
                        <small id="topicHelp" class="form-text text-muted">Base topic used by your Homie devices</small>
                    </div>


                    <div class="form-group">
                        <label for="mqttTimeout">Connection Timeout:</label>
                        <InputNumber @bind-Value=configValues.mqtt.timeout class="form-control" id="mqttTimeout" aria-describedby="timeoutHelp" placeholder="defaults to .3 seconds" />
                        <small id="timeoutHelp" class="form-text text-muted">Connection Timeout, defaults to .3 seconds</small>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-6">

            <fieldset class="form-fieldset">
                <legend class="form-legend">MQTT Auth Settings</legend>
                <div>

                    <div class="form-check">
                        <InputCheckbox class="form-check-input" id="mqttHasAuth" @bind-Value=configValues.mqtt.auth />
                        <label class="form-check-label" for="mqttHasAuth">MQTT Auth Required?</label>
                    </div>


                    @if (configValues.mqtt.auth == true)
                    {

                        <div class="form-group">
                            <label for="mqttAuthUser">Username:</label>
                            <InputText id="mqttAuthUser" class="form-control" @bind-Value=configValues.mqtt.user />
                        </div>

                        <div class="form-group">
                            <label for="mqttAuthPassword">Password:</label>
                            <InputText type="password" class="form-control" @bind-Value=configValues.mqtt.password />
                        </div>
                    }


                </div>
            </fieldset>


        </div>
    </div>



    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" value="Save Changes" class="btn btn-success" />
        <input type="button" value="Cancel" class="btn btn-primary" @onclick="@ModalShow" />
    </div>


</EditForm>




@if (SaveStyle != SAVECLR)
{
    <div class="alert @SaveStyle" role="alert">
        @SaveStatus
    </div>
}


@if (showModal)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Confirm Cancel</h4>
                    <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>Are you sure you want to cancel and lose any changes?</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn" @onclick="@ModalCancel">Nevermind</button>
                    <button type="button" class="btn btn-danger" @onclick=@CancelChanges>Undo Changes</button>
                </div>

            </div>
        </div>
    </div>

}
