@page "/"

<h1>@Program.applicationName</h1>

<h3>What is @Program.applicationName</h3>
<em>@Program.applicationName</em> (HNM) is tool to gather information and manage you collection of Homie based IOT devices.
<pre>TODO: Add more Info</pre>

<h3>Configuration</h3>


